<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" />
    <title>Postular Mascota - Adopt Me</title>
</head>

<body>
    <div class="v34_37">
        <div class="v34_38"></div><span class="v34_39">Postular Nueva adopcion</span><span class="v34_40">datos de la
            mascota</span><span class="v34_43">Adopt Me</span>
        <div class="v34_44"></div><span class="v34_45">Ajustes</span><span class="v48_2">Nombre:

            Especie:

            Raza:

            Edad:

            Sexo:

            Tamaño:

            Color:

            Ubicación:

        </span>
        <div class="v48_3"></div>
        <div class="v48_4"></div>
        <div class="v48_5"></div>
        <div class="v48_6"></div>
        <div class="v48_7"></div>
        <div class="v48_8"></div>
        <div class="v48_9"></div>
        <div class="v48_10"></div>
        <div class="v48_12"></div><span class="v48_14">postular</span><span class="v48_15">imagen</span>
        <div class="v48_16"></div>
    </div>
</body>

</html>