<footer class="footer">
        <div class="footer-inner"> 
            <div class="footer-brand"><i class="fa-solid fa-paw"></i> Adopt Me</div>
            <div class="footer-grid">
                <div>
                    <h4>Contáctanos</h4>
                    <a href="#"><i class="fa-solid fa-envelope"></i> Email</a>
                    <a href="#"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
                    <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
                </div>
                <div>
                    <h4>Adopción</h4>
                    <a href="#">¿Cómo adoptar?</a>
                    <a href="#">Requisitos</a>
                    <a href="#">Historias felices</a>
                </div>
                <div>
                    <h4>Fundaciones</h4>
                    <a href="#">Unirse</a>
                    <a href="#">Recursos</a>
                    <a href="#">Eventos</a>
                </div>
                <div>
                    <h4>Legal</h4>
                    <a href="#">Términos</a>
                    <a href="#">Privacidad</a>
                    <a href="#">Ayuda</a>
                </div>
            </div>
        </div>
    </footer>