<footer class="footer">
    <div class="footer__container">
        <div class="footer__brand">
            <span>Adopt Me</span>
            <div class="footer__social">
                <a href="#"><img src="{{ url_for('static', filename='images/v20_41.png') }}" alt="Facebook"></a>
                <a href="#"><img src="{{ url_for('static', filename='images/v20_42.png') }}" alt="Instagram"></a>
                <a href="#"><img src="{{ url_for('static', filename='images/v20_43.png') }}" alt="Twitter"></a>
            </div>
        </div>
        <div class="footer__links">
            <div>
                <h4>Contáctanos</h4>
                <a href="#">302 216 3398</a>
                <a href="#">300 100 1029</a>
            </div>
            <div>
                <h4>Redes Sociales</h4>
                <a href="#">FUNCUAN</a>
                <a href="#">Protección animal</a>
            </div>
            <div>
                <h4>Legalidad</h4>
                <a href="#">David Escamilla</a>
                <a href="#">YES</a>
            </div>
        </div>
    </div>
</footer>